@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


/* =====================Общие записи===================== */

body {
    font-family: Lato;
    color:#424551;
    font-size: 16px;
}
.wrapper {
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    width: 810px;
    margin: 0 0 0 345px;
}
/* ======================================================= */
.header {
    margin-top: 152px;
}
.header__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    color: #1E212C;
    margin-bottom: 26px;
}
.header__date {
    font-size: 16px;
    line-height: 1.6;
    color: #787A80;
    margin-bottom: 39.89px;
}
.header__month {
    background: url(../img/month.svg)0px 2px no-repeat;
    margin-right: 48px;
    padding-left: 24px;
}
.header__time {
    background: url(../img/Clock.svg)0 1px no-repeat;
    padding-left: 24px;
}
.main__image {
    margin-bottom: 60px;
}
.main__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 24px;
}
.main__text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.main__text p {
    line-height: 1.6;
}
.main__text-first {
    margin-bottom: 26px;
}
.main__text-second {
    margin-bottom: 48px;
}
.main__quote {
    background: url(../img/icon-paragraph1.png)left top no-repeat, 
                url(../img/icon-paragraph2.png)17px top no-repeat;
    margin-bottom: 48px;
}
.main__quote-text {
    display: inline-block;
    font-weight: 700;
    padding-left: 60px;
    font-size: 20px;
    line-height: 1.5;
}
.main__paragraph-text{
    line-height: 1.6;
    width: 810px;
    margin-bottom: 24px;
}
.main__list, .list{
    margin-bottom: 25px;
    width: 600px;
}
.paragraph {
    margin-left: 840px;
    margin-bottom: 500px;
}
.list__item{
    background: url(../img/icon-list.png)left 6px no-repeat;
    line-height: 1.6;
    margin-bottom: 4px;
    padding-left: 32px;
}

.paragraph__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: #1E212C;
    text-transform: uppercase;
}
.paragraph__subtitle{
    color: #1E212C;
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 40px;
}
.paragraph__list {
    width: 390px;
    margin-bottom: 48px;
}
.paragraph__list > li {
    margin-bottom: 12px;
}
.paragraph__btn {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    font-size: 14px;
    height: 44px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    line-height: 3.14;
    letter-spacing: 0.5px;
    padding: 0 32px;
    color: #fff;
}
